<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                DomoHub
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/variables">Variables</a></li>
            <li><a href="/groups">Groups</a></li>
            <li class="dropdown">
                <a href="#" class=dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Modules <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <% header.modules.forEach(function(item) { %>
                        <li><a href="/module/<%= item.ident %>"><%= item.label %></a></li>
                    <% }) %>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class=dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Screens <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <% header.screens.forEach(function(item) { %>
                        <li><a href="/screen/<%= item.ident %>"><%= item.label %></a></li>
                    <% }) %>
                </ul>
            </li>
        </ul>
    </div>
</nav>
