
.screen {
    background-color:#404040;
}

.one-line {
    white-space: nowrap;
}

/* Widgets */

.widget {
    background-color:#101010;
    color: white;
}

/* Simple */

.name {
    font-weight: bold;
}

.value {
    font-weight: bold;
    font-size:400%;
}
.unit {
    font-size:150%;
}
