<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <!--
            <div class="col-sm-8">
            
                <div >
                </div>
                
            </div>
            <div class="col-sm-4">
                

            </div>
            -->

            <table class="table">
                <thead>
                        <tr>
                            <th>Name</th>
                            <th>Last seen </th>
                            <th>Last value</th>
                        </tr>
                </thead>
                <tbody>
                    <% data.forEach(function(item) { %>
                        <tr>
                            <td><a href="/variable/<%= item.name %>"><%= item.name %></a></td>
                            <td><%= item.meta.last_seen %></td>
                            <td><%= item.meta.last_value %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
    <% include ../partials/javascript %>
</body>
</html>
